<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <title>Quotes</title>
    <style>
        
        .row{
    margin-top: 40px;
    }

</style>

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Edit My Account</a>
            <form class="form-inline" action="/logout">
                <a class="navbar-brand" href="/quotes"><u>Back</u></a>
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log off</button>
            </form>
        </nav>
 
        <div class="row">
            <div class="col-sm">
            First name:<br><input type="text" class="form-control" name="first_name"><br>
            Last name:<br><input type="text" class="form-control" name="last_name"><br>
            Email:<br><input type="text" class="form-control" name="email"><br>
            <button type="submit" class="btn btn-primary">Update</button>
            </div>
            <div class="col-sm">
            </div>
        </div>
        </div>

            

        









    </div>
</body>

</html>