<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Login and Registration</title>
</head>

<body>
    <div class="container">
        <h1>Login and Registration</h1>
        <div class="row">
            <div class="col-md-6">

                <form action="/register" method="POST">
                    <h2>Register here!</h2>
                    <div class="form-group">
                        First name:<br><input type="text" name="first_name"><br>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == "first_name" %}
                                        <span class="text-danger">{{ message }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group">
                        Last name:<br><input type="text" name="last_name"><br>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == "last_name" %}
                                        <span class="text-danger">{{ message }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    </div>
                    <div class="form-group">
                        Email:<br><input type="text" name="email"><br>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == "email" %}
                                        <span class="text-danger">{{ message }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group">
                        Password:<br><input type="password" name="password"><br>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == "password" %}
                                        <span class="text-danger">{{ message }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group">
                        Confirm Password:<br><input type="password" name="confirm_password"><br>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == "confirm_password" %}
                                        <span class="text-danger">{{ message }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register!">
                </form>
            </div>
            <div class="login">
                <h2>Login here!</h2>
                <form action="/login" method="POST">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == "failed_login" %}
                                    <span class="text-danger">{{ message }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="form-group">
                        Email:<br><input type="text" name="email"><br>
                    </div>
                    <div class="form-group">
                        Password:<br><input type="password" name="password"><br>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Login!">
                </form>
            </div>
        </div>
    </div>
</body>
</html>